# DT on the clean Data

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

In [10]:
# make matplotlib figures appear inline in the notebook
%matplotlib inline
plt.rcParams['figure.figsize'] = (8, 6) # set default size of plots
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'

## Statistical analysis

In [15]:
df = pd.read_csv('final_clean_data_DT/K_clean_data.csv')
df

,Location,Age,Gender,Interested_in,Current_status,Usually,Confidence,Bars,Social_network,Dating apps,...,Badoo,num_apps,use_for_Long_term,use_for_Short_term,use_for_Friends,affraid_bad_people,not_seen_there,too_much_not_myType,cannot_find_somebody_I_like,Kukumbo?
0,Center,2,Female,Men,In_relationship,In_relationship,2,3,3,3,...,0,0,0,0,0,0,1,1,0,Yes
1,Center,2,Male,Women,In_relationship,Single,1,3,1,2,...,0,2,1,1,0,0,0,0,1,Yes
2,Center,2,Male,Women,In_relationship,In_relationship,1,2,1,3,...,0,1,1,0,0,0,1,1,1,No
3,North,2,Male,Women,Single,Single,1,3,4,1,...,0,1,0,0,0,0,1,0,0,Yes
4,Center,2,Female,Men,Single,Single,2,2,3,5,...,0,2,0,1,0,1,0,1,1,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407,Center,2,Male,Women,Single,Single,2,3,2,3,...,0,3,1,0,0,0,0,0,0,Yes
408,North,2,Female,Men,Single,Single,3,3,4,4,...,0,0,0,0,0,1,1,0,0,Yes
409,Center,2,Female,Men,Single,Single,1,4,3,1,...,0,1,0,1,0,0,0,0,1,Yes
410,Center,2,Female,Both,In_relationship,In_relationship,3,4,2,2,...,0,0,0,0,0,1,1,0,0,No
411,Center,2,Male,Women,Single,Single,0,4,3,2,...,0,2,1,1,0,0,1,0,1,Yes

In [16]:
df.describe()

,Age,Confidence,Bars,Social_network,Dating apps,Through_a_friend,Street,experience,frequently_use,paid,...,Atraf,Badoo,num_apps,use_for_Long_term,use_for_Short_term,use_for_Friends,affraid_bad_people,not_seen_there,too_much_not_myType,cannot_find_somebody_I_like
count,412.000000,412.000000,412.000000,412.000000,412.000000,412.000000,412.000000,412.000000,412.000000,412.000000,...,412.000000,412.000000,412.000000,412.000000,412.000000,412.000000,412.000000,412.000000,412.000000,412.000000
mean,1.849515,2.014563,2.888350,2.516990,2.424757,3.735437,2.599515,1.876214,1.881068,0.245146,...,0.024272,0.024272,1.194175,0.402913,0.402913,0.065534,0.218447,0.334951,0.415049,0.305825
std,0.636807,0.834057,1.211125,1.192924,1.322340,1.173680,1.304046,1.868347,2.010418,0.536367,...,0.154079,0.154079,1.298011,0.491080,0.491080,0.247767,0.413694,0.472547,0.493329,0.461316
min,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,1.000000,2.000000,1.000000,1.000000,3.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.000000,2.000000,3.000000,2.000000,2.000000,4.000000,3.000000,2.000000,1.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2.000000,3.000000,4.000000,3.000000,3.000000,5.000000,4.000000,3.000000,3.000000,0.000000,...,0.000000,0.000000,2.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000
max,5.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,6.000000,6.000000,2.000000,...,1.000000,1.000000,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [12]:
df.describe(include=[object])

,Location,Gender,Interested_in,Current_status,Usually,swipes_are,Kukumbo?
count,412,412,412,412,412,412,412
unique,5,2,4,3,3,2,2
top,Center,Male,Men,Single,Single,Cheap,Yes
freq,337,210,197,247,253,236,260

## Desicion Tree

In [13]:
X = df.drop('Kukumbo?',axis=1)
y = pd.DataFrame(df['Kukumbo?'])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [14]:
train_acc = list()
test_acc = list()
ds = range(1,3)
for d in ds:
    clf = DecisionTreeClassifier(max_depth=d)
    clf.fit(X_train,y_train)
    y_pred_train = clf.predict(X_train)
    y_pred_test = clf.predict(X_test)
    train_acc.append(accuracy_score(y_train, y_pred_train))
    test_acc.append(accuracy_score(y_test, y_pred_test))

ValueError: could not convert string to float: 'Jerusalm and around'

In [ ]:
plt.scatter(ds,train_acc, s=10,label='Train')
plt.scatter(ds,test_acc, s=10,label='Test')
plt.xlabel('Max-depth',fontsize=15)
plt.ylabel('Accuracy',fontsize=15)
plt.title('Accuracy as a function of max-depth on train & test data',fontsize=15)
plt.legend(fontsize=15)
plt.grid(axis='y')
plt.show()